.btn {
  background-color:#00aced;
  color: #FFFFFF;
  height: 100px;
  width:50%;
  position:relative;
  bottom: -5px;
  font-size: 2em;
  border-bottom: 5px solid #DD2C00;
  margin-left:0px;
  box-shadow: 5px 5px 5px #CCCCCC;

}

.btn:hover {
  background-color: #DD2C00;
}

.rm_btn{
  border-color: transparent;
  color: #FFFFFF;
  width:auto;
  position:relative;
  margin-bottom: 2px;
  font-size: 1em;
}


#total{
  background-color:#00aced;
  color: #FFFFFF;
  height: 60px;
  width:auto;
  font-size: 3em;
}

#list input{
  width:100%;
}

#list textarea{
  width:100%;
  height:100px;
}

.list_cnt {
  border-right: 1px solid #00aced;
  max-width:100%;
  overflow-wrap: break-word;
}

.twt_tag{
  background-color: #FAFAFA;
  border-radius: 10px;
  border: 1px solid #CCCCCC;
  /*padding:10px;*/
  margin-bottom:10px;
  box-shadow: 2px 5px 5px #CCCCCC;
  max-width:100%;
  padding:5px;
  overflow-wrap: break-word;
}
footer{
  position:fixed;
  background-color: #CCCCCC;
  height:50px;
  color: #FFFFFF;
  border-color:transparent;
  margin-top: 15px;
  margin-bottom:0px;
  bottom:0px;
  left:0px;
  right:0px;
}

footer a {
  position:relative;
  float: right;
  margin-right: 135px;
  margin-top: 15px;
}
