<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Libraries -->
    <script src="libs/jquery-3.1.0.min.js"></script>
    <script src="libs/angular.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script> -->
    <script src="https://www.gstatic.com/firebasejs/3.6.8/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
    <script src="config/config.js"></script>
    <script src="app.js"></script>
    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <!-- Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title> VietFuji Dict </title>
</head>
<header>
    <nav id="header-nav" class="navbar navbar-default">
        <div class="container-fluid">
            <!-- <div> -->
            <div class="row">
                <!-- <div class="col-sm-2 hidden-xs">
            <img id="nav-poster" src="images/poster_vertical.jpg"/>
          </div> -->
                <div id="About" class="col-sm-12 col-xs-12 col-xxs-12 text-left">
                    <h2><span class="glyphicon glyphicon-tags"></span> VFDICT-BETA</h2>
                    <h5>Từ điển thuật ngữ chuyên ngành Nhật Việt</h5>
                </div>
            </div>
        </div>
        <!-- .container -->
    </nav>
    <!-- #header-nav -->
</header>

<body ng-app='DictApp' ng-controller='AddController as list'>
    <div class="container">
        <div id='input' class="row">
            <div class="col-md-6">
                <input type="text" class="resizedTextbox" ng-model="searchInput" >
            </div>
            <div class="col-md-6">
                <select ng-model="Category" id="resizeddropdown">
                  <option value="" disabled selected>Select category</option>
                    <option ng-repeat="cate in list.category.unique()" value="{{cate}}">{{cate}}</option>
                </select>
            </div>
        </div>
        <table id="output" width="100%">
            <tr>
                <th>Jap</th>
                <th>Vi</th>
                <th>Categories</th>
            </tr>
            <tr ng-repeat="word in list.dict|filter:searchInput|filter: { categories: Category}">
                <td>{{word.Jap}}</td>
                <td>{{word.vi}}</td>
                <td>{{word.categories}}</td>
            </tr>
        </table>
    </div>
</body>
<!-- <footer>
    <a> Designed by Trungmaster and KhanhDuydeptrai|2017 </a>
  </footer> -->

</html>