<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Libraries -->
    <script src="libs/jquery-3.1.0.min.js"></script>
    <script src="libs/angular.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script> -->
    <script src="https://www.gstatic.com/firebasejs/3.6.8/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
    <script src="config/config.js"></script>
    <script src="app.js"></script>
    <!-- Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <title> VietFuji Dict </title>
  </head>

  <header>
    <nav id="header-nav" class="navbar navbar-default">
      <div class="container-fluid">
      <!-- <div> -->
        <div class="row">
          <!-- <div class="col-sm-2 hidden-xs">
            <img id="nav-poster" src="images/poster_vertical.jpg"/>
          </div> -->
          <div id="About" class="col-sm-12 col-xs-12 col-xxs-12 text-left">
            <h2><span class="glyphicon glyphicon-tags"></span> VFDICT-BETA <a href="http://www.vietfuji.com/home/" >&copy; VietFuji Group</a></h2>
            <h5>Từ điển thuật ngữ chuyên ngành Nhật Việt</h5>
          </div>
        </div>
      </div><!-- .container -->
    </nav><!-- #header-nav -->
  </header>

  <body ng-app='DictApp' ng-controller='AddController as list'>
    <div class="container-fluid row">
      <div id="list_search" class="col col-md-4 col-sm-12 list_cnt">
        <h1 class="text-center"> Tra từ </h1>
        <hr>
        <p>Từ tiếng Nhật:</p>
        <div id="search" class="container-fluid text-center">
          <input type="text" class="text-center" ng-model="list.JPword">
          <span class="glyphicon glyphicon-menu-right" ng-click="list.GetWord(list.JPword);"　aria-hidden="true"></span>
        </div>
      </div>

      <div id="list_display" class="col col-md-4 col-sm-12 list_cnt ">
        <list
          items="list.items"
          trans="list.JPwordTrans"
          title="{{list.title}}"
          on-remove="list.removeItem(index)"></list>
      </div>

      <div id="list_add" class="col col-md-4 col-sm-12  list_cnt">
        <h1 class="text-center"> Thêm/sửa　</h1>
        <hr>
        Từ tiếng Nhật: <input type="text" ng-model="list.JPword">
        <br>
        <br>
        Nghĩa tiếng Việt: <textarea type="text" ng-model="list.VNword"></textarea>
        <br>
        <div class="login">
          <h4>Đăng nhập</h4>
          <p> *Cần tài khoản để thêm bớt, chỉnh sửa từ điển </p>
          User-name: <input type="text" ng-model="list.userName">
          <br>
          <br>
          Passwords: <input type="password" ng-model="list.password">
          <br>
        </div>
        <!-- <textarea maxlength="140" name="content" type="text" ng-model="list.itemQuantity"></textarea> -->
        <!-- <h1 ng-if="!Tweet.content.$valid">The value is too long</h1> -->
        Trạng thái: <span ng-style="{'background-color': list.authColor, 'padding':'5px'}">{{list.authStatus}}</span>
        <button class="btn" ng-click="list.AddWord();">
          THÊM | SỬA
          <span class="glyphicon glyphicon-pencil"></span>
            </button>
      </div>
      <!-- <div class="col-md-3">
        <h1> Tổng số tweet </h1>
        <hr>
        <div id="total" class="text-center">
          {{list.title}}
        </div> -->
      </div>
  </body>

  <!-- <footer>
    <a> Designed by Trungmaster |2017 </a>
  </footer> -->

</html>
